In [1]:
# Some basic libs
import numpy as np 
import pandas as pd
import seaborn as sns
import os

In [2]:
matches = pd.read_csv('C:/Users/Vignesh/Documents/Stclair/DAB-103/Project/archive/IPL_data/IPL Matches 2008-2020.csv')
home_and_away = pd.read_csv('C:/Users/Vignesh/Documents/Stclair/DAB-103/Project/archive/IPL_data/teamwise_home_and_away.csv')

In [3]:
matches.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [4]:
matches['toss_winner'].unique()

array(['Delhi Capitals', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Rajasthan Royals', 'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [5]:
matches['winner'].unique()

array(['Mumbai Indians', 'Delhi Capitals', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Kings XI Punjab', 'Royal Challengers Bangalore', nan,
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [6]:
matches['team1'].unique()

array(['Delhi Capitals', 'Royal Challengers Bangalore', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [7]:
matches['team2'].unique()

array(['Mumbai Indians', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [8]:
matches['toss_winner'].replace(to_replace="Rising Pune Supergiants",value="Rising Pune Supergiant",inplace=True)
matches['winner'].replace(to_replace="Rising Pune Supergiants",value="Rising Pune Supergiant",inplace=True)
matches['team1'].replace(to_replace="Rising Pune Supergiants",value="Rising Pune Supergiant",inplace=True)
matches['team2'].replace(to_replace="Rising Pune Supergiants",value="Rising Pune Supergiant",inplace=True)

In [9]:
matches['toss_winner'].value_counts()

Mumbai Indians                 106
Kolkata Knight Riders           98
Chennai Super Kings             97
Rajasthan Royals                87
Royal Challengers Bangalore     87
Kings XI Punjab                 85
Delhi Daredevils                80
Sunrisers Hyderabad             57
Deccan Chargers                 43
Delhi Capitals                  20
Pune Warriors                   20
Gujarat Lions                   15
Rising Pune Supergiant          13
Kochi Tuskers Kerala             8
Name: toss_winner, dtype: int64

In [10]:
matches['winner'].value_counts()

Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Rising Pune Supergiant          15
Gujarat Lions                   13
Pune Warriors                   12
Kochi Tuskers Kerala             6
Name: winner, dtype: int64

In [11]:
team_1 = matches['team1'].groupby(matches['team1']).agg('count')

In [12]:
team_1

team1
Chennai Super Kings             94
Deccan Chargers                 39
Delhi Capitals                  19
Delhi Daredevils                83
Gujarat Lions                   16
Kings XI Punjab                 92
Kochi Tuskers Kerala             7
Kolkata Knight Riders           95
Mumbai Indians                  97
Pune Warriors                   23
Rajasthan Royals                70
Rising Pune Supergiant          14
Royal Challengers Bangalore    108
Sunrisers Hyderabad             59
Name: team1, dtype: int64

In [13]:
team_2 = matches['team2'].groupby(matches['team2']).agg('count')

In [14]:
team_2

team2
Chennai Super Kings             84
Deccan Chargers                 36
Delhi Capitals                  14
Delhi Daredevils                78
Gujarat Lions                   14
Kings XI Punjab                 98
Kochi Tuskers Kerala             7
Kolkata Knight Riders           97
Mumbai Indians                 106
Pune Warriors                   23
Rajasthan Royals                91
Rising Pune Supergiant          16
Royal Challengers Bangalore     87
Sunrisers Hyderabad             65
Name: team2, dtype: int64

In [15]:
total_matches = team_1 + team_2

In [16]:
total_matches

team1
Chennai Super Kings            178
Deccan Chargers                 75
Delhi Capitals                  33
Delhi Daredevils               161
Gujarat Lions                   30
Kings XI Punjab                190
Kochi Tuskers Kerala            14
Kolkata Knight Riders          192
Mumbai Indians                 203
Pune Warriors                   46
Rajasthan Royals               161
Rising Pune Supergiant          30
Royal Challengers Bangalore    195
Sunrisers Hyderabad            124
dtype: int64

In [17]:
new_matches = matches.drop(columns=['method','umpire1','umpire2'])

In [18]:
new_matches.to_csv("new_matches.csv", encoding='utf-8', index=False)

In [19]:
home_and_away.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 14 non-null     object
 1   home_wins            14 non-null     int64
 2   away_wins            14 non-null     int64
 3   home_matches         14 non-null     int64
 4   away_matches         14 non-null     int64
 5   home_win_percentage  14 non-null     float64
 6   away_win_percentage  14 non-null     float64
dtypes: float64(2), int64(4), object(1)
memory usage: 912.0+ bytes

In [20]:
new_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
dtypes: float64(1), int64(2), object(11)
memory usage: 89.4+ KB