In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [29]:
players = pd.read_csv ('C:/Users/Supreme/Downloads/Players.csv')
batting = pd.read_csv('C:/Users/Supreme/Downloads/batting_stats.csv')
print(players)

        Player_Name        DOB Batting_Hand           Bowling_Skill   Country
0    A Ashish Reddy  24-Feb-91   Right_Hand        Right-arm medium     India
1        A Chandila  05-Dec-83   Right_Hand      Right-arm offbreak     India
2          A Chopra  19-Sep-77   Right_Hand      Right-arm offbreak     India
3       A Choudhary        NaN   Right_hand    Left-arm fast-medium       NaN
4       A Dananjaya        NaN   Right_Hand      Right-arm offbreak       NaN
..              ...        ...          ...                     ...       ...
561     Younis Khan  29-Nov-77   Right_Hand        Right-arm medium  Pakistan
562       YS Chahal  23-Jul-90   Right_Hand         Legbreak googly     India
563    Yuvraj Singh  12-Dec-81    Left_Hand  Slow left-arm orthodox     India
564     YV Takawale  05-Nov-84   Right_Hand                     NaN     India
565          Z Khan  07-Oct-78   Right_Hand    Left-arm fast-medium     India

[566 rows x 5 columns]

In [3]:
players.describe()

           Player_Name        DOB Batting_Hand     Bowling_Skill Country
count              566        471          563               502     471
unique             566        457            3                16      11
top     A Ashish Reddy  30-Apr-87   Right_Hand  Right-arm medium   India
freq                 1          3          373               107     264

In [4]:
players.isnull().sum()

Player_Name       0
DOB              95
Batting_Hand      3
Bowling_Skill    64
Country          95
dtype: int64

In [5]:
players.drop(['DOB'],axis=1, inplace =True)

In [7]:
players.rename(columns={'Player_Name':'Name'}, inplace=True)

In [8]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           566 non-null    object
 1   Batting_Hand   563 non-null    object
 2   Bowling_Skill  502 non-null    object
 3   Country        471 non-null    object
dtypes: object(4)
memory usage: 17.8+ KB

In [9]:
players['Batting_Hand'].unique()

array(['Right_Hand', 'Right_hand', 'Left_Hand', nan], dtype=object)

In [10]:
players['Bowling_Skill'].unique()

array(['Right-arm medium', 'Right-arm offbreak', 'Left-arm fast-medium',
       'Right-arm fast-medium', nan, 'Right-arm fast', 'Legbreak googly',
       'Legbreak', 'Left-arm medium-fast', 'Slow left-arm orthodox',
       'Right-arm medium-fast', 'Left-arm medium', 'Left-arm fast',
       'Slow left-arm chinaman', 'Right-arm bowler', 'Right-arm Medium',
       'Right-arm Fast'], dtype=object)

In [13]:
players['Batting_Hand'].value_counts()

Right_Hand    373
Left_Hand     142
Right_hand     48
Name: Batting_Hand, dtype: int64

In [15]:
players['Bowling_Skill'].value_counts()

Right-arm medium          107
Right-arm offbreak         91
Right-arm fast-medium      68
Slow left-arm orthodox     50
Right-arm fast             39
Right-arm medium-fast      38
Legbreak                   30
Legbreak googly            28
Left-arm fast-medium       19
Left-arm medium            11
Left-arm medium-fast        9
Slow left-arm chinaman      5
Left-arm fast               4
Right-arm bowler            1
Right-arm Medium            1
Right-arm Fast              1
Name: Bowling_Skill, dtype: int64

In [32]:
players.to_csv("Players_new.csv")